<!--==========================
    Top Bar
  ============================-->
<section id="topbar" class="d-none d-lg-block">
    <div class="container clearfix">
      <div class="social-links float-right">
        <a href="#">chennai <span style="color: white"><i class="fa fa-angle-down"></i></span></a>
      </div>
    </div>
  </section>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="#body" class="scrollto">Big<span>F</span>Day</a></h1>
      </div>
      <nav id="nav-menu-container">
        <ul class="nav-menu float-right">
          <li class="menu-active"><a href="#body">Venues</a></li>
          <li><a href="#about">Past Event Photos</a></li>
          <li><a href="#services">Professionals</a></li>
          <li><a href="#portfolio"><i class="fa fa-heart"></i></a></li>
          <li><a href="#bars"><i class="fa fa-bars"></i></a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->