<section>
        <div class="container">
                <div class="section-header">
                  <h2>Best for Birthday’s</h2>
                  <p>Select through our handpicked venues for your event</p>
                </div>
        <div class="row">
                <div class="col-md-1-12">
                  <div class="card">
                    <div class="card-body">
                      <h3 class="card-title">Title</h3>
                      <p class="card-text">Text</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-1-12">
                  <div class="card">
                    <div class="card-body">
                      <h3 class="card-title">Title</h3>
                      <p class="card-text">Text</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-1-12">
                      <div class="card">
                        <div class="card-body">
                          <h3 class="card-title">Title</h3>
                          <p class="card-text">Text</p>
                        </div>
                      </div>
                    </div>
              </div>
              </div>
</section>